name: Deploy nginx
on:
  workflow_dispatch:

concurrency:
  group: deploy-nginx
  cancel-in-progress: false

jobs:
  nginx:
    runs-on: ubuntu-24.04
    environment: prod
    steps:
      - name: Deploy nginx1
        run: | 
          set -e
          declare -A HOSTS
          while IFS='=' read -r NAME IP; do
            [[ -z "$NAME" ]] && continue
            HOSTS["$NAME"]="$IP"
          done <<< "${{ vars.SERVERS }}"
          for NAME in "${!HOSTS[@]}"; do
            IP="${HOSTS[$NAME]}"
            echo "SSH to $NAME($IP)..."
          done
